<!DOCTYPE html>
<!-- Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
SPDX-License-Identifier: MIT-0 -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Tag Tamer Blank Page" />
    <meta name="keywords" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://TAG_TAMER_EC2_INSTANCE_IP_DNS/css/bootstrap.min.css"
    />
    <title>Tag Tamer - Blank</title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div
      class="alert alert-{{ category }} alert-dismissible fade show"
      role="alert"
    >
      <span>{{ message }}</span>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://TAG_TAMER_EC2_INSTANCE_IP_DNS/js/jquery-3.5.1.slim.min.js"></script>
    <script src="https://TAG_TAMER_EC2_INSTANCE_IP_DNS/js/popper.min.js"></script>
    <script src="https://TAG_TAMER_EC2_INSTANCE_IP_DNS/js/bootstrap.min.js"></script>
  </body>
</html>
