<!DOCTYPE html>
<!-- Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
SPDX-License-Identifier: MIT-0 -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Tag your resources">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Tag your resources</title>
        <link rel="stylesheet" href="https://TAG_TAMER_EC2_INSTANCE_IP_DNS/css/bootstrap.min.css" >
    </head>    
    <body>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-7">
                        <h3 style="text-align:center;">Select your AWS resources</h3>
                        <table class="table table-borderless" role="presentation">
                            <tbody>
                                <tr>
                                    <td>Check the box beside every resource you want to tag.</td>
                                </tr>
                            </tbody>
                        </table>

                        <form method="post" action="{{ url_for('apply_tags_to_resources') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            {% for filter_key, filter_value in filter_elements.items() %}
                                <input type="hidden" name="{{ filter_key }}" value="{{ filter_value }}"/>
                            {% endfor %}
                                    <div class="form-check">
                                        {% for account_number, per_account_inventory in all_resource_inventory.items() %}
                                            {% for region, resource_inventory in per_account_inventory.items() %}
                                                <h5 style="text-align:center;">AWS account: <span style="color:MediumSeaGreen;">{{ account_number }}</span></h5>    
                                                <table style="table-layout:fixed; width:100%;" class="table table-striped table-hover">
                                                <caption>Table contains the available AWS resources to tag.</caption>
                                                <colgroup>
                                                    <col span="1" style="width:5%">
                                                    <col span="1" style="width:15%">
                                                    <col span="1" style="width:25%">
                                                    <col span="1" style="width:55%">
                                                </colgroup>    
                                                    <tbody>
                                                        <thead>
                                                            <tr>
                                                                <th scope="col" style="text-align:center;vertical-align:middle;">Tag it?</th>
                                                                <th scope="col" style="text-align:center;vertical-align:middle;">Region</th>
                                                                <th scope="col" style="text-align:center;vertical-align:middle;">Resource name</th>
                                                                <th scope="col" style="text-align:center;vertical-align:middle;">Resource ID</th>
                                                            </tr>
                                                        </thead>
                                                        {% for id_name in resource_inventory %}
                                                            <tr>
                                                                    <td style="text-align:center;vertical-align:middle;"><input class="form-check-input" type="checkbox" name="resource,{{ account_number }},{{ region }},{{ id_name[0] }}" value="{{ id_name[0] }}" style="line-height:normal;margin:0;"></td>
                                                                    <td style="text-align:center;vertical-align:middle;">{{ region }}</td>
                                                                    <td style="text-align:left;vertical-align:middle;word-wrap:break-word;">{{ id_name[1] }}</td>
                                                                    <td style="text-align:left;vertical-align:middle;word-wrap:break-word;">{{ id_name[0] }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                <br>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                            <br>
                            <p>Once you select your resources & tags, click the "Tag Selected Resources" button, below.</p>
                            <br>
                            <div class="text-center">
                            <input type="hidden" name="resource_type" value="{{ resource_type }}">
                            <button type="submit" class="btn btn-primary btn-lg">Tag Selected Resources</button>
                            </div>
                    </div>
                    <div class="col-5">
                        <h3 style="text-align:center;">Select your tags to apply</h3>
                        <table class="table table-borderless" role="presentation">
                            <tbody>
                                <tr>
                                    <td>Choose a tag key:value pair from every Tag Group dropdown, below, you want to apply as a tag to your selected resource(s)</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-borderless" role="presentation">    
                            <tbody>
                                <tr>
                                    <td>            
                        {% for this_tag_group_info in tag_groups_all_info %}
                        <div class="form-group">
                            <select class="custom-select" id="FormControlSelect2" name="{{ this_tag_group_info[1] }}">
                                <option  value="">Tag Group --> {{ this_tag_group_info[0] }}</option>
                            {% for this_tag_group_value_option in this_tag_group_info[2] %}
                                <option  value="{{ this_tag_group_value_option }}">{{ this_tag_group_info[1] }} : {{ this_tag_group_value_option }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        {% endfor %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </form>
                </div>
            </div>  
        <br>
        <span style="text-align:center;">
            <form method="get" action="{{ url_for('actions') }}" target="home_iframe">
                <button type="submit" class="btn btn-primary btn-lg">Home</button>
                <button type="submit" class="btn btn-outline-primary btn-lg">Cancel</button>
            </form>
        </span>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://TAG_TAMER_EC2_INSTANCE_IP_DNS/js/jquery-3.5.1.slim.min.js"></script>
        <script src="https://TAG_TAMER_EC2_INSTANCE_IP_DNS/js/popper.min.js"></script>
        <script src="https://TAG_TAMER_EC2_INSTANCE_IP_DNS/js/bootstrap.min.js"></script>

    </body>
</html>