<!DOCTYPE html>
<!-- Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
SPDX-License-Identifier: MIT-0 -->

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Your Updated Config Rules</title>
    <meta
      name="description"
      content="Format & display updated AWS Config Rules"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://TAG_TAMER_EC2_INSTANCE_IP_DNS/css/bootstrap.min.css"
    />
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div
      class="alert alert-{{ category }} alert-dismissible fade show"
      role="alert"
    >
      <span>{{ message }}</span>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <h3 style="text-align: center">
      Here are the updates to your selected AWS Config Rules
    </h3>
    <br />

    {% for account_number, per_account_inventory in
    all_resource_inventory.items() %} {% for region, resource_inventory in
    per_account_inventory.items() %}
    <h5 style="text-align: center">
      AWS account:
      <span style="color: MediumSeaGreen">{{ account_number }}</span>
    </h5>
    <table
      style="table-layout: fixed; width: 1200px"
      class="table table-striped table-hover"
    >
      <caption>
        This table displays updated required tags AWS Config rules
      </caption>
      <colgroup>
        <col span="1" style="width: 10%" />
        <col span="1" style="width: 30%" />
        <col span="1" style="width: 60%" />
      </colgroup>
      <thead>
        <tr>
          <th scope="col" style="text-align: center; vertical-align: middle">
            Region
          </th>
          <th scope="col" style="text-align: center; vertical-align: middle">
            Config Rule Name
          </th>
          <th scope="col" style="text-align: center; vertical-align: middle">
            Config Rule Parameters
          </th>
        </tr>
      </thead>
      <tbody>
        {% for updated_config_rule in resource_inventory %}
        <tr>
          <td>{{ region }}</td>
          <td>{{ updated_config_rule.pop('ConfigRuleName') }}</td>
          <td>
            <table
              style="table-layout: fixed; width: 700px"
              class="table table-sm table-bordered table-striped"
            >
              <caption>
                This table displays updated required tags AWS Config rules for
                an AWS region
              </caption>
              <colgroup>
                <col span="1" style="width: 30%" />
                <col span="1" style="width: 70%" />
              </colgroup>
              <thead>
                <tr>
                  <th scope="col">Input Parameter Key</th>
                  <th scope="col">Input Parameter Value</th>
                </tr>
              </thead>
              <tbody>
                {% for found_key, found_values in updated_config_rule.items() %}
                {% if 'tag' in found_key %}
                <tr>
                  <td>{{ found_key }}</td>
                  <td style="text-align: left; word-wrap: break-word">
                    {{ found_values }}
                  </td>
                </tr>
                {% endif %} {% endfor %}
              </tbody>
            </table>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endfor %} {% endfor %}
    <br />
    <div class="container">
      <form method="get" action="{{ url_for('actions') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button type="submit" class="btn btn-primary btn-lg">Home</button>
      </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://TAG_TAMER_EC2_INSTANCE_IP_DNS/js/jquery-3.5.1.slim.min.js"></script>
    <script src="https://TAG_TAMER_EC2_INSTANCE_IP_DNS/js/popper.min.js"></script>
    <script src="https://TAG_TAMER_EC2_INSTANCE_IP_DNS/js/bootstrap.min.js"></script>
  </body>
</html>
