tag-tamer-workspace.code-workspace
.vscode/settings.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
.vscode/launch.json
source/code/log/tag_tamer.log
source/code/__pycache__/admin.cpython-38.pyc
source/code/__pycache__/cognito_idp.cpython-38.pyc
source/code/__pycache__/config.cpython-38.pyc
source/code/__pycache__/eks_clusters_tags.cpython-38.pyc
source/code/__pycache__/get_tag_groups.cpython-38.pyc
source/code/__pycache__/iam.cpython-38.pyc
source/code/__pycache__/lambda_resources_tags.cpython-38.pyc
source/code/__pycache__/resources_tags.cpython-38.pyc
source/code/__pycache__/service_catalog.cpython-38.pyc
source/code/__pycache__/set_tag_groups.cpython-38.pyc
source/code/__pycache__/ssm_parameter_store.cpython-38.pyc
source/code/__pycache__/tag_tamer.cpython-38.pyc
source/code/__pycache__/utilities.cpython-38.pyc
source/code/__pycache__/rds_resources_tags.cpython-38.pyc
source/code/__pycache__/code_pipeline_tags.cpython-38.pyc
source/code/__pycache__/aurora_db_resources_tags.cpython-38.pyc
source/code/__pycache__/code_commit_tags.cpython-38.pyc
source/code/__pycache__/redshift_cluster_tags.cpython-38.pyc
source/code/__pycache__/tag-tamer-run.cpython-38.pyc
source/code/__pycache__/dynamodb_resources_tags.cpython-38.pyc
source/code/__pycache__/ecr_resources_tags.cpython-38.pyc
